{% extends 'base.html' %}
{% load static %}
{% block title %}Book & Stay - Hotel Booking HTML5 Template{% endblock %}
{% block content %}


<style>
.property-card .property-img {
    width: 100%;
    height: 220px; /* fixed height for all images */
    object-fit: cover; /* crops without distortion */
    border-radius: 5px;
}

.property-card .property-text,
.property-card ul li,
.property-card ul li span {
    font-size: 0.85rem; /* smaller text */
}

.property-card ul li span {
    font-size: 0.8rem;
}

.property-card {
    padding: 10px;
}

</style>
    <div class="main-banner">
        <div class="owl-carousel owl-banner">
            <div class="item item-1">
                <div class="header-text">
                <span class="category">Toronto, <em>Canada</em></span>
                <h2>Hurry!<br>Get the Best Hotel for you</h2>
                </div>
            </div>
            <div class="item item-2">
                <div class="header-text">
                    <span class="category">Melbourne, <em>Australia</em></span>
                    <h2>Be Quick!<br>Get the best hotel in town</h2>
                </div>
            </div>
            <div class="item item-3">
                <div class="header-text">
                    <span class="category">Miami, <em>South Florida</em></span>
                    <h2>Act Now!<br>Get the highest level suite</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="{% static 'images/featured.jpg' %}" alt="">
                        <a href="{% url 'property-details'  1 %}"><img src="{% static 'images/featured-icon.png' %}" alt="" style="max-width: 60px; padding: 0px;"></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Featured</h6>
                        <h2>Best Hotel &amp; Sea view</h2>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Best useful links ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Get <strong>the best hotel</strong> booking system in Django for your business. Book & Stay provides you the best hotel booking experience. Please tell your friends about it.</div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How does this work ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Our <strong>hotel booking system</strong> allows you to easily search, compare, and book the perfect accommodation for your travel needs. Simply browse our properties, check availability, and make your reservation.
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Why is Book & Stay the best ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            We offer <strong>the best selection</strong> of hotels worldwide with competitive prices, secure booking process, and 24/7 customer support. Our platform is designed to make your travel planning effortless and enjoyable.
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                        <li>
                            <img src="{% static 'images/info-icon-01.png' %}" alt="" style="max-width: 52px;">
                            <h4>250 m2<br><span>Total Room Space</span></h4>
                        </li>
                        <li>
                            <img src="{% static 'images/info-icon-02.png' %}" alt="" style="max-width: 52px;">
                            <h4>Booking<br><span>Instant Booking</span></h4>
                        </li>
                        <li>
                            <img src="{% static 'images/info-icon-03.png' %}" alt="" style="max-width: 52px;">
                            <h4>Payment<br><span>Secure Payment</span></h4>
                        </li>
                        <li>
                            <img src="{% static 'images/info-icon-04.png' %}" alt="" style="max-width: 52px;">
                            <h4>Support<br><span>24/7 Support</span></h4>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="section-heading text-center">
                        <h6>| Video View</h6>
                        <h2>Get Closer View & Different Feeling</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="video-frame">
                        <img src="{% static 'images/video-frame.jpg' %}" alt="">
                        <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                        <div class="col-lg-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="{{ num_hotel }}" data-speed="1000"></h2>
                    <p class="count-text">Hotels to<br>choose from</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="{{ available_rooms_count }}" data-speed="1000"></h2>
                    <p class="count-text">Available<br>Rooms</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="{{ country_count }}" data-speed="1000"></h2>
                    <p class="count-text">Countries<br>Listed</p>
                </div>
            </div>

                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| Best Deal</h6>
                    <h2>Find Your Best Deal Right Now!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper">
                            <ul class="nav nav-tabs" role="tablist">
                                {% for deal in best_deals_list %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %}"
                                            id="{{ deal.type|lower }}-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#{{ deal.type|lower }}"
                                            type="button" role="tab"
                                            aria-controls="{{ deal.type|lower }}"
                                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        {{ deal.type }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            {% for deal in best_deals_list %}
                            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                                 id="{{ deal.type|lower }}"
                                 role="tabpanel"
                                 aria-labelledby="{{ deal.type|lower }}-tab">
                                <div class="row">
                                    {% for hotel in deal.hotels %}
                                    <div class="col-lg-12 mb-4">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="info-table">
                                                    <ul>
                                                        <li>Total Room Space <span>{{ hotel.rooms.first.size|default:"N/A" }} m2</span></li>
                                                        <li>Floor number <span>{{ hotel.rooms.first.floor|default:"N/A" }}</span></li>
                                                        <li>Number of rooms <span>{{ hotel.num_rooms|default:hotel.rooms.count }}</span></li>
                                                        <li>Parking Available <span>Yes</span></li>
                                                        <li>Payment Process <span>Secure</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                {% if hotel.photo %}
                                                    <img src="{{ hotel.photo.url }}" alt="{{ hotel.hotel_name }}">
                                                {% else %}
                                                    <img src="{% static 'images/default-hotel.jpg' %}" alt="{{ hotel.hotel_name }}">
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>{{ hotel.hotel_name }}</h4>
                                                <p>{{ hotel.description|truncatewords:40 }}</p>
                                                <div class="icon-button">
                                                    <a href="{% url 'property-details' hotel.id %}">
                                                        <i class="fa fa-calendar"></i> Schedule a visit
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                        <p>No {{ deal.type }}s available.</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="properties section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Properties</h6>
                    <h2>We Provide The Best Hotels You Like</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for hotel in properties_hotels %}
            <div class="col-lg-4 col-md-6">
                <div class="item property-card">
                    <a href="{% url 'property-details' hotel.id %}">
                        {% if hotel.photo %}
                            <img src="{{ hotel.photo.url }}" alt="{{ hotel.hotel_name }}" class="property-img">
                        {% else %}
                            <img src="{% static 'images/default-hotel.jpg' %}" alt="{{ hotel.hotel_name }}" class="property-img">
                        {% endif %}
                    </a>
                    <span class="category property-text">{{ hotel.property_type|default:"Hotel" }}</span>
                    <h6 class="property-text">${{ hotel.price_per_night|default:"0" }}/night</h6>
                    <h4 class="property-text"><a href="{% url 'property-details' hotel.id %}">{{ hotel.hotel_name }}</a></h4>
                    <ul class="property-text">
                        <li>Bedrooms: <span>{{ hotel.rooms.first.bedrooms|default:"N/A" }}</span></li>
                        <li>Bathrooms: <span>{{ hotel.rooms.first.bathrooms|default:"N/A" }}</span></li>
                        <li>Area: <span>{{ hotel.rooms.first.size|default:"N/A" }}m2</span></li>
                        <li>Floor: <span>{{ hotel.rooms.first.floor|default:"N/A" }}</span></li>
                        <li>Parking: <span>{{ hotel.rooms.first.parking|default:"N/A" }}</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="{% url 'property-details' hotel.id %}">Book Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


    </div>






    <div class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="section-heading text-center">
                        <h6>| Contact Us</h6>
                        <h2>Get In Touch With Our Agents</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item phone">
                                <img src="{% static 'images/phone-icon.png' %}" alt="" style="max-width: 52px;">
                                <h6>010-020-0340<br><span>Phone Number</span></h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item email">
                                <img src="{% static 'images/email-icon.png' %}" alt="" style="max-width: 52px;">
                                <h6>info@bookandstay.com<br><span>Business Email</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form id="contact-form" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="name">Full Name</label>
                                    <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="email">Email Address</label>
                                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="subject">Subject</label>
                                    <input type="subject" name="subject" id="subject" placeholder="Subject..." autocomplete="on" >
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="orange-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
